---
import Metadata from '../components/metadata.astro'
import Logo from '../components/logo.astro'

const { content } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<Metadata/>
		<title>{content.name} | Spotted</title>
	</head>
	<body>
		<div class="logo">
			<Logo/>
		</div>
		<article>
			<picture>
				<source type="image/avif" srcset={`/images/${content.image}.avif`}/>
				<source type="image/webp" srcset={`/images/${content.image}.webp`}/>
				<img src={`/images/${content.image}.png`} alt="todo"/>
			</picture>
			<h1>{content.name}</h1>
			<p class="latin-name">{content['latin-name']}</p>
			<section class="data">
				<title>Data</title>
				<dl>
					<span>
						<dt>Type</dt>
						<dd>{content['type']}</dd>
					</span>
					<span>
						<dt>Native to</dt>
						<dd>{content['native-to']}</dd>
					</span>
					<span>
						<dt>Climate</dt>
						<dd>{content['ideal-climate']}</dd>
					</span>
					<span>
						<dt>Sun</dt>
						<dd>{content['sun']}</dd>
					</span>
					<span>
						<dt>Water</dt>
						<dd>{content['water']}</dd>
					</span>
					<span>
						<dt>Height</dt>
						<dd>{content['height-range']}</dd>
					</span>
				</dl>
			</section>
			<section class="content">
				<slot/>
			</section>
		</article>
	</body>
</html>

<style>
	.logo
	{
		padding: 30px;
	}

	article
	{
		padding: 0 15px;
	}

	img
	{
		max-width: 350px;
		height: 350px;
		object-fit: contain;
		mix-blend-mode: multiply;
		user-select: none;

		display: block;
		margin: 20px auto;
	}

	h1
	{
		font-family: var(--font);
		font-weight: normal;
		font-style: italic;
		font-size: 3rem;
		letter-spacing: -0.05em;
		text-align: center;
		margin: 10px;
	}

	.latin-name,
	section.data dt
	{
		color: hsl(var(--green) / 1);
		font-family: Helvetica, sans-serif;
		font-size: 1.2rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.02em;
		transform: scaleY(0.75);
		margin: 0;
	}

	section.data,
	section.content :global(p)
	{
		font-family: var(--font);
		font-size: 1.2rem;
		line-height: 1.6;

		max-width: 65ch;
		margin: 3rem auto;
		text-align: justify;
	}

	section.data
	{
		background: hsl(var(--green) / 1);
		border-radius: 10px;
		padding: 5px 20px 10px;
		box-sizing: border-box;
	}

	section.data dl
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}

	section.data dt
	{
		color: hsl(var(--yellow) / 0.9);
		font-size: 1rem;
		text-align: left;
		margin: 0;
	}

	section.data dd
	{
		color: hsl(var(--light-green) / 1);
		font-size: 1.4rem;
		font-style: italic;
		letter-spacing: -0.03em;
		margin: 0;
		padding: 0;
		line-height: 1;
		text-indent: 0;
		text-align: left;
	}
</style>